body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333;
}
.loader {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.loader span {
  position: relative;
  width: 5px;
  height: 50px;
  margin: 2px;
  background: chartreuse;
  animation: animate 1s linear infinite alternate;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
  0% {
    transform: scaleY(0);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: scaleY(1);
    filter: hue-rotate(360deg);
  }
}
